services:
  rancher:
    image: rancher/rancher:{{ rancher_version }}
    ports:
      - "{{ rancher_http_port }}:80"
      - "{{ rancher_https_port }}:443"
    command: ["--no-cacerts"]
    environment:
      CATTLE_BOOTSTRAP_PASSWORD={{ rancher_admin_password }}
      CATTLE_SERVER_URL={{ rancher_url }}
    volumes:
      - rancher:/var/lib/rancher
    restart: unless-stopped
    privileged: true

volumes:
  rancher:
    driver: local
